<header>this is header</header>

<div class="artist">
    <span class="name">Hi, my name is {{name}}</span>
    <span class="age">I'm {{age}}</span>
    <span class="city">I'm from {{city}}</span>
    <span class="ability">My profession is {{ability}}</span>
</div>